/*!
  Theme Name: cjonasw-JadePHP-with-grunt-Example
  Theme URI: https://github.com/cjonasw/
  Description: cjonasw-JadePHP-with-grunt-Example
  Version: 1
  Author: Charlie Walter
  Author URI: http://www.charliejwalter.net
*/

body
  background #00A86B /* Jade green */
  color white

body:after
  content "JadePHP"
